<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mainset</title>
  </head>
  <body>
    <h1>Page is under updating</h1>
    <p>don't worry this page is gonna come back soon!!!</p>

    {{> footer}}
  </body>
</html>
